
<footer>
    <main class="main-footer flex jcb" data-aos="fade-in" data-aos-delay="50" data-aos-easing="ease">
        <div class="footer-detail">
            <div class="contact-detail">
                <div class="box">
                    <div class="flex">
                        <div class="icon">
                            <a href="mailto:miiramadhyam@gmail.com" class="mail"><i class="fa-regular fa-envelope"></i></a>
                        </div>
                        <div class="key">
                            <a href="mailto:miiramadhyam@gmail.com" class="mail">miiramadhyam@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="flex">
                        <div class="icon">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="key">
                            +91 93190 11199
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="flex">
                        <div class="icon">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="key">
                            Jeoni Mandi, Agra-282001
                        </div>
                    </div>
                </div>
            </div>
            <div class="others">
                <div class="box flex aic">
                    <p>Follow us on</p>
                    <div class="social-media flex">                  
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="about-details">
            <h1>MiiraMadhyam</h1>
            <p>MiiraMadhyam aim to provide aids to deprived sections and nurture the understanding of social, economical & political aspects on their lives.</p>
            <p>We have a mission to harden their consciousness to enhance ability to get eqaul rights.</p>
        </div>
    </main>
    <div class="copyright">Copyright &copy; 2022 | <span class="highlight">MiiraMadhyam</span></div>
</footer>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script>
    const header = document.querySelector('.header');
    const body = document.querySelector('.body');
    console.log(header,body.getBoundingClientRect().width);
    header.style.width = body.getBoundingClientRect().width;
</script>

</body>
</html>