<%-include('partials/Header')%>
<div class="parallax parallax-gallery">
    <div class="overlay contact-overlay flex">
              <div class="text-container">
                    <h1></h1>
              </div>
    </div>
</div>
<div class="row about-container mx-auto">
    <div class="col-lg-10 mx-auto">
        <h3>A little bit</h3>
        <h1>About Us</h1>
        <div class="underline"></div>
        <div class="about-data-container flex alfs">
             <div class="about-img-container">
                <img src="../Images/about.jpg" alt="">
             </div>
             <div class="about-page-details">
                <h2>We Serve the Huminity</h2>
                <p>MiiraMadhyam aim to provide aids to deprived sections and nurture the understanding of social, economical & political aspects on their lives.</p>
                <p>
                    We have a mission to harden their consciousness to enhance ability to get eqaul rights.</
                </p>
             </div>
        </div>
    </div>
    
</div>
<%-include('partials/Footer')%>